*{
 margin: 0;
padding: 0;
}
body{
  /*background-image: url(/ass/wallpaper.png); */
  
  background-size: 100%;
}
.header{
  background-image: url(/ass/wallpaper.png);
  /*background-image: url(/ass/bg2.png);*/
  background-size: 100%;
}
.imily{
  
  position: relative;
  background-color: rgb(138, 43, 226 , 0.7);
  width: 100%;
  height: 580px;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

 a{
  text-decoration: none;
  color: azure;
  margin-left: 100px;

 }

.butt {
  background: none;
  border-radius: 50px;
  border: solid 1px rgb(255, 255, 255);
  width: 80px;
  height: 30px;
  color: azure;
}
.text{
  display: flex;
  align-items: center;
}

.pop{
  color: blanchedalmond;
}

.entr{
  border-radius: 30px;
  background-color: #13025a;
 
 margin-left: 10%;
 margin-right: 10%;
 padding: 50px;
display: flex;
justify-content: space-between;
position: absolute;
top: 500px;
right: 50px;
left: 50px;

}

ul{
  color: blanchedalmond;
  text-decoration: none;
}

.space{
  margin: 40px;
  padding: 20px;

}